.main-container{
  font-size:18px;
  overflow:hidden;
  box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.72);
  border-radius:8px;
}
.bottom-container {
  display:flex;
  flex-direction:column;
}
.top{
  background-color:;
  width:100%; 
}
.bottom-left{
  background-color:#13a1ab;
  color:white;
}
.bottom-right{
  background-color:#15c3cf;
  color:white;
  font-family: calibri
}
.first-text{
  padding-left:25px;
  margin-bottom:0px;
  color:#13a1ab;
  font-size:1.5rem;
}
.second-text{
  font-family: calibri;
  color:#1c8722;
}
.third-text{
  ;
}
p {
  padding-left:25px}
.monthly-sub {
  font-family: 'oswald', sans-serif;
  font-size:1.6rem;
}
.price {
  font-family: 'oswald', sans-serif;
  font-size: 2rem;
  margin-top:0px
}
.per-month{
  font-size:1.4rem;
  margin-top:10px;
  font-family:calibri;
  opacity:0.7;
}
.second-line{
  display:flex;
    margin-bottom:-15px
}
.third-line{
  margin-top:0px;
}
button{
  color:white;
  font-size:1.2rem;
  border:0px;
  border-radius:7px;
  background-color:#94e815;
  margin-left: 12%;
  margin-top:15px;
  margin-bottom:20px;
  height:50px;
  width:75%;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.62);
}
button:hover{
  cursor:pointer;
  opacity:0.6;
  transform:scale(1.04)
}
.why{
  font-weight:100rem;
  font-size:1.5rem;
}
@media (min-width:420px) {
  .top{
    height:35%
  }
  .bottom-container {
    flex-direction:row;
    height:65%
  }
  .bottom-left{
    flex-basis:50%
  }
  button{
    margin-bottom:20px;
  }
  .bottom-right{
    flex-basis:50%
  }
}
@media (min-width:730px) {
  .main-container{
    width:700px
  }
}
